/* Цвет основного текста #212121*/
/* Вторичный цвет текста #757575 */
/* Белый #FFFFFF */
/* Акцент#2196F3 */
/* Вторичный цвет фона#F5F4FA */
/* Основной цвет лого #2196f3  */
/* Вторичный цвет лого #000000  */
body {
  font-family: Roboto, sans-serif;
  color: #212121;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.current-link {
  color: #2196f3;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* logo */

.nav-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
.nav-studio {
  color: #000000;
}
/* nav */

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav .link:hover,
.nav .link:focus {
  color: #2196f3;
}
.nav-auth {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
